<div class="wrapper"> 
    <!-- Navbar -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
     <!-- #TODO Brand Logo -->


    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a routerLink="/dashboard" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" routerLink="/classes">
                <a  class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Classes</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/grades" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Grades</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/classes" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Teachers </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/classes" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students </p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <div>
    <!-- Content Header (Page header) -->
    
    <!-- /.content-header -->
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6" routerLink="/grades">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>Grading</h3>
  
                  <p>Add exams, CATs, Assignment results/marks/score etc</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6" routerLink="/classes">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>Classes</h3>
  
                  <p>Manage Classes: Create New, Edit, Delete</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6" routerLink="/students">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>Students</h3>
  
                  <p>Register New Sudents, Edit Sudents Details, Delete</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6" routerLink="/teachers">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>Teachers</h3>
  
                  <p>And New Teachers, Edit Teacher Details, Delete</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
          <!-- Main row -->
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>

  </div>
</div>

  <!-- Preloader -->
  <!-- #TODO create a Preloader -->

  
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->


  <!-- Content Wrapper. Contains page content -->

  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->