

<div *ngIf="list">
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Subject ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes; index as i" (click)="showDetail(hero.id)">
          <th scope="row">{{hero.id}} </th>
          <td>{{hero.name}}</td>
          <td>{{hero.description}}</td>
        </tr>
        </tbody>
      </table>
</div>



<div *ngIf="detail">
  <form class="row g-3">
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationServer01"  required>
      
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Other name</label>
      <input type="text" class="form-control" id="validationServer02" required>
      
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationServer02" required>
      
    </div>
    
    <div class="col-md-6">
      <label for="validationServer03" class="form-label">City</label>
      <input type="text" class="form-control" id="validationServer03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer04" class="form-label">Gender</label>
      <select class="form-select is-invalid" id="validationServer04" required>
        <option selected disabled value="">Male</option>
        <option>Male</option>
        <option>Female</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
